VIABTC_API_BASE_URL=https://www.viabtc.net
VIABTC_API_KEY=REPLACE_WITH_READ_ONLY_API_KEY
MIDAD_VIABTC_GATEWAY_KEY=REPLACE_WITH_A_LONG_RANDOM_GATEWAY_TOKEN

HOST=127.0.0.1
PORT=8788
REQUEST_TIMEOUT_MS=8000
